@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --primary: #1e3a8a;
  --accent: #f97316;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
}